@import "tailwindcss";

@theme {
	--font-sans: "Zalando Sans", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
	html {
		font-family: var(--font-sans);
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	body {
		margin: 0;
		position: relative;
		background: linear-gradient(135deg,var(--color-taupe-50)60%,var(--color-slate-100))
	}

	body:after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(45deg, var(--color-sky-50) 10%, --alpha(var(--color-sky-50) / 5%));
		z-index: -1;
		background-blend-mode: multiply;
	}

	svg {
		display: block;
		width: auto;
		height: auto;
	}

	* {
		&:focus, &:focus-visible {
			@apply outline-1 outline-dashed outline-offset-3 outline-blue-600;
		}
	}
}

@layer components {
	.input-label {
		@apply text-sm leading-relaxed font-semibold text-gray-800;
	}

	.input-field {
		@apply h-10 w-full rounded-md border border-gray-400 bg-white px-3.5 py-2 text-sm text-slate-900 transition-[border-color,box-shadow];
		
		&::placeholder {
			@apply text-gray-400;
		}
		&:hover, &:focus {
			@apply border-gray-700;
		}
	}

	.input-field:user-invalid:not(:placeholder-shown) {
		@apply border-red-600;
		
		&:focus {
			@apply border-red-600;
		}
	}

	.input-helper {
		@apply text-xs leading-none text-slate-500;
	}

	.btn-primary {
		@apply inline-flex items-center justify-center rounded-md border border-blue-600 bg-blue-600 px-4 py-2 text-base font-semibold text-white shadow-sm transition-colors;

		&:hover, &:focus {
			@apply border-blue-900 bg-blue-800 shadow;
		}

		&:active {
			@apply scale-[0.98] bg-blue-950 border-blue-950;
		}
	}

	.btn-primary[data-loading="true"] {
		@apply pointer-events-none opacity-80;
	}

	.form-alert {
		@apply mt-4 flex items-center gap-3 rounded-md border px-4 py-3;
	}

	.form-alert--success {
		@apply border-emerald-500 bg-emerald-50/50 text-emerald-800;
	}

	.form-alert--error {
		@apply border-red-500 bg-red-50/50 text-red-700;
	}

	.form-alert-dismiss {
		@apply -m-1 shrink-0 rounded-sm p-1 text-mist-800 transition-colors border border-transparent;
		&:hover, &:focus {
			@apply bg-mist-400/10 border-mist-500;
		}
	}

	.linkedin-cta {
		@apply max-w-2xl flex items-center gap-4 rounded-md p-4 no-underline transition-colors ease-in-out border border-transparent bg-transparent;

		&:hover, &:focus {
			@apply bg-white/50 border-gray-200; 
		}
	}
}