---
---

<section class="w-full text-center" aria-labelledby="hero-heading">
	<h1 id="hero-heading" class="text-transparent bg-clip-text bg-linear-140 from-cyan-500 to-blue-700 text-4xl md:text-6xl leading-tight font-semibold">
		The grassroots Des Moines UX Community
	</h1>
	<p class="mt-6 text-base md:text-xl leading-normal text-slate-800">
		<strong class="font-bold">Experiencing UX</strong> is a network for user experience
		professionals in Central Iowa who want to connect, share insights, and grow their careers.
	</p>
</section>
