---
interface Props {
	href?: string;
}

const { href = "https://www.linkedin.com/groups/8410176/" } = Astro.props;
---

<a href={href} class="linkedin-cta" target="_blank" rel="noopener noreferrer" >
	<img src="/images/linkedin.svg" alt="" width="24" height="24" class="size-6 shrink-0" aria-hidden="true"/>
	<p class="flex-1 text-base">
		<span class="font-semibold">Email not your thing? </span>Request to join our private LinkedIn group.
	</p>
	<img src="/images/arrow.svg" alt="" width="24" height="24" class="size-6 shrink-0" aria-hidden="true"/>
</a>
